html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #fffcf9;
  overflow: hidden;
  font-family: 'canada-type-gibson';
  font-weight: 300;
}

.left-image img {
  width: 90%;
}

.right-text img {
  width: 65%;
}

.row1 p, .row2 a {
  font-size: 18px;
}

.row2 .col-sm-3 {
  text-align: center;
}

.row2 .col-sm-3 a{
  text-decoration: none;
  color: #eb4653;
}

.row2 {
  padding: 21px;
}

@media screen and (max-width: 576px) {
  body {
    overflow: auto;
  }
  .right-text, .left-image {
    text-align: center;
  }
}
